In [1]:
import billboard
import spotipy
import pandas as pd

In [2]:
chart = billboard.ChartData('hot-100', date='2018-11-10')

In [3]:
dummychart = billboard.ChartData('hot-100', date='2018-11-10')

In [6]:
chart1 = billboard.ChartData('hot-100', date='1999-01-01')
i =0
while chart1.previousDate:
    i = i+1
    chart1 = billboard.ChartData('hot-100', chart1.previousDate)
    #print(chart1.previousDate)
    if(chart1.previousDate <= '1998-09-30'):
        break;
print(i)

13

In [9]:
def getData(date1, date2):
    chart = billboard.ChartData('hot-100', date1)
    list = []
    while chart.previousDate:
        date = chart.previousDate
        chart = billboard.ChartData('hot-100', chart.previousDate)
        i = 0;
        temptuples = ()
        
        while (i<100) :
            temptuples = (i, date, chart[i].title,chart[i].artist, chart[i].peakPos, chart[i].lastPos, chart[i].weeks, chart[i].rank, chart[i].isNew)
            i = i+1
            list.append(temptuples)
        if(chart.previousDate <= date2):
            break;
    
    return list

        
#print("Chart: ", date, "  ", chart[0].title, " ", chart[0].artist, " ", chart[0].peakPos, " ", chart[0].lastPos," ", chart[0].weeks," ", chart[0].rank," ", chart[0].isNew )

In [10]:
finaldatalist1 = getData('2018-11-17', '2000-01-01')
#'1958-08-10'

In [12]:
len(finaldatalist1)

98500

In [17]:
finaldatalist2 = getData('1999-12-31', '1985-01-01')

In [19]:
len(finaldatalist2)

78200

In [25]:
#finaldatalist3_1 = getData('1984-12-31', '1980-01-01')

In [26]:
#len(finaldatalist3_1)

26100

In [28]:
#finaldatalist3_2 = getData('1974-12-31', '1970-01-01')

In [29]:
#finaldatalist3_3 = getData('1979-12-31', '1978-01-01')

In [35]:
finaldatalist3_11 = getData('1984-12-31', '1978-01-01')

In [36]:
finaldatalist3_22 = getData('1974-12-31', '1970-01-01')

In [23]:
finaldatalist4 = getData('1969-12-31', '1958-08-10')

In [13]:
df = pd.DataFrame(finaldatalist1, columns=['i', 'date', 'chart[i].title','chart[i].artist', 'chart[i].peakPos', 'chart[i].lastPos', 'chart[i].weeks', 'chart[i].rank', 'chart[i].isNew'])

In [14]:
df.head(10)

,i,date,chart[i].title,chart[i].artist,chart[i].peakPos,chart[i].lastPos,chart[i].weeks,chart[i].rank,chart[i].isNew
0,0,2018-11-10,Girls Like You,Maroon 5 Featuring Cardi B,1,1,23,1,False
1,1,2018-11-10,Sicko Mode,Travis Scott,2,2,13,2,False
2,2,2018-11-10,Happier,Marshmello & Bastille,3,4,11,3,False
3,3,2018-11-10,Lucid Dreams,Juice WRLD,2,3,25,4,False
4,4,2018-11-10,Better Now,Post Malone,3,5,27,5,False
5,5,2018-11-10,ZEZE,Kodak Black Featuring Travis Scott & Offset,2,6,3,6,False
6,6,2018-11-10,Youngblood,5 Seconds Of Summer,7,7,22,7,False
7,7,2018-11-10,Drip Too Hard,Lil Baby & Gunna,4,8,7,8,False
8,8,2018-11-10,Without Me,Halsey,9,12,4,9,False
9,9,2018-11-10,Mo Bamba,Sheck Wes,10,16,10,10,False

In [15]:
df.shape

(98500, 9)

In [41]:
df_1 = pd.DataFrame(finaldatalist1, columns=['i', 'date', 'title','artist', 'peakPos', 'lastPos', 'weeks', 'rank', 'isNew'])
df_2 = pd.DataFrame(finaldatalist2, columns=['i', 'date', 'title','artist', 'peakPos', 'lastPos', 'weeks', 'rank', 'isNew'])
df_3 = pd.DataFrame(finaldatalist3_11, columns=['i', 'date', 'title','artist', 'peakPos', 'lastPos', 'weeks', 'rank', 'isNew'])
df_4 = pd.DataFrame(finaldatalist3_22, columns=['i', 'date', 'title','artist', 'peakPos', 'lastPos', 'weeks', 'rank', 'isNew'])
df_5 = pd.DataFrame(finaldatalist4, columns=['i', 'date', 'title','artist', 'peakPos', 'lastPos', 'weeks', 'rank', 'isNew'])

In [42]:
data_set = pd.concat([df_5,df_4], axis=0)
print(data_set.shape)

(85500, 9)

(59400, 9)

In [43]:
data_set = pd.concat([data_set,df_3], axis=0)
data_set = pd.concat([data_set,df_2], axis=0)
data_set = pd.concat([data_set,df_1], axis=0)
print(data_set.shape)

(298700, 9)

In [45]:
data_set.tail(10)

,i,date,title,artist,peakPos,lastPos,weeks,rank,isNew
98490,90,2000-01-08,Left & Right,D'Angelo Featuring Method Man And Redman,70,70,5,91,False
98491,91,2000-01-08,The Rockafeller Skank,Fatboy Slim,77,90,25,92,False
98492,92,2000-01-08,She Thinks My Tractor's Sexy,Kenny Chesney,74,86,8,93,False
98493,93,2000-01-08,Love Is Blind,Eve Featuring Faith Evans,94,0,0,94,True
98494,94,2000-01-08,"Live, Laugh, Love",Clay Walker,84,84,6,95,False
98495,95,2000-01-08,Larger Than Life,Backstreet Boys,25,87,17,96,False
98496,96,2000-01-08,The Best Man I Can Be,"Ginuwine, R.L., Tyrese, Case",97,0,0,97,True
98497,97,2000-01-08,L.A. Song,Beth Hart,96,96,7,98,False
98498,98,2000-01-08,Re-arranged,Limp Bizkit,90,95,6,99,False
98499,99,2000-01-08,The Quittin' Kind,Joe Diffie,98,98,2,100,False

In [46]:
data_set.head()

,i,date,title,artist,peakPos,lastPos,weeks,rank,isNew
0,0,1969-12-27,Someday We'll Be Together,Diana Ross & The Supremes,1,2,8,1,False
1,1,1969-12-27,Leaving On A Jet Plane,"Peter, Paul & Mary",1,1,10,2,False
2,2,1969-12-27,Raindrops Keep Fallin' On My Head,B.J. Thomas,3,5,9,3,False
3,3,1969-12-27,Down On The Corner/Fortunate Son,Creedence Clearwater Revival,3,3,10,4,False
4,4,1969-12-27,Na Na Hey Hey Kiss Him Goodbye,Steam,1,4,11,5,False

In [47]:
data_set.to_csv('bilboard_data.csv', sep=",")

In [49]:
data_set = data_set.sort_values(by='date')
data_set.tail(10)

,i,date,title,artist,peakPos,lastPos,weeks,rank,isNew
64,64,2018-11-10,Stoopid,6ix9ine Featuring Bobby Shmurda,25,48,4,65,False
65,65,2018-11-10,Drew Barrymore,Bryce Vine,46,64,12,66,False
66,66,2018-11-10,You Say,Lauren Daigle,44,75,16,67,False
67,67,2018-11-10,W O R K I N M E,Quavo,52,59,12,68,False
68,68,2018-11-10,Jackie Chan,Tiesto & Dzeko Featuring Preme & Post Malone,52,60,17,69,False
69,69,2018-11-10,Mona Lisa,Lil Wayne Featuring Kendrick Lamar,2,55,5,70,False
70,70,2018-11-10,Blue Tacoma,Russell Dickerson,52,70,11,71,False
72,72,2018-11-10,No Stylist,French Montana Featuring Drake,47,68,6,73,False
61,61,2018-11-10,That's On Me,Yella Beezy,62,86,14,62,False
99,99,2018-11-10,Drowns The Whiskey,Jason Aldean Featuring Miranda Lambert,32,99,19,100,False

In [50]:
data_set = data_set.reset_index()
data_set.tail(10)

,index,i,date,title,artist,peakPos,lastPos,weeks,rank,isNew
298690,64,64,2018-11-10,Stoopid,6ix9ine Featuring Bobby Shmurda,25,48,4,65,False
298691,65,65,2018-11-10,Drew Barrymore,Bryce Vine,46,64,12,66,False
298692,66,66,2018-11-10,You Say,Lauren Daigle,44,75,16,67,False
298693,67,67,2018-11-10,W O R K I N M E,Quavo,52,59,12,68,False
298694,68,68,2018-11-10,Jackie Chan,Tiesto & Dzeko Featuring Preme & Post Malone,52,60,17,69,False
298695,69,69,2018-11-10,Mona Lisa,Lil Wayne Featuring Kendrick Lamar,2,55,5,70,False
298696,70,70,2018-11-10,Blue Tacoma,Russell Dickerson,52,70,11,71,False
298697,72,72,2018-11-10,No Stylist,French Montana Featuring Drake,47,68,6,73,False
298698,61,61,2018-11-10,That's On Me,Yella Beezy,62,86,14,62,False
298699,99,99,2018-11-10,Drowns The Whiskey,Jason Aldean Featuring Miranda Lambert,32,99,19,100,False

In [52]:
data_set.to_csv('bilboard_new_data.csv', sep=",")

In [55]:
new_data = data_set.groupby(by='title').describe()

In [63]:
new_data.columns.tolist()

[('i', 'count'),
 ('i', 'mean'),
 ('i', 'std'),
 ('i', 'min'),
 ('i', '25%'),
 ('i', '50%'),
 ('i', '75%'),
 ('i', 'max'),
 ('index', 'count'),
 ('index', 'mean'),
 ('index', 'std'),
 ('index', 'min'),
 ('index', '25%'),
 ('index', '50%'),
 ('index', '75%'),
 ('index', 'max'),
 ('lastPos', 'count'),
 ('lastPos', 'mean'),
 ('lastPos', 'std'),
 ('lastPos', 'min'),
 ('lastPos', '25%'),
 ('lastPos', '50%'),
 ('lastPos', '75%'),
 ('lastPos', 'max'),
 ('peakPos', 'count'),
 ('peakPos', 'mean'),
 ('peakPos', 'std'),
 ('peakPos', 'min'),
 ('peakPos', '25%'),
 ('peakPos', '50%'),
 ('peakPos', '75%'),
 ('peakPos', 'max'),
 ('rank', 'count'),
 ('rank', 'mean'),
 ('rank', 'std'),
 ('rank', 'min'),
 ('rank', '25%'),
 ('rank', '50%'),
 ('rank', '75%'),
 ('rank', 'max'),
 ('weeks', 'count'),
 ('weeks', 'mean'),
 ('weeks', 'std'),
 ('weeks', 'min'),
 ('weeks', '25%'),
 ('weeks', '50%'),
 ('weeks', '75%'),
 ('weeks', 'max')]